<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>About Us</title>
</head>
<body>
<b>About Us</b>

<p><a href="http://www.thewaternetwork.org">The Water Network</a> has the vision to drive innovative solutions to
    the world's water crisis by connecting the experience of professionals around the world.</p>

<p>Our objective is to connect organizations and professionals in the water sector to collectively provide safe water
    and better sanitation for everyone, everywhere. We aim to bridge the information gap between grassroots workers,
    researchers, technology experts and industry professionals.</p>

<p>Value propositions are provided for a broad range of people, from the individual in the field to the largest water
    companies and service providers.</p>

<p>This mobile app is designed to make the discovery of content, knowledge and professionals easy and fun.</p>

<p>The knowledge network platform that powers www.thewaternetwork.org is developed by TallyFox Social Technologies
    AG.</p>
</body>
</html>