<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Terms Of Use</title>
</head>
<body>
<h1>Terms of Use</h1>

<p>TallyFox Social Technologies AG By accessing this website, the pages contained on it, and the products, services,
    information, tools and material contained or described herein (the "Website"), you acknowledge your agreement with
    and
    understanding of the following terms of use.</p>

<p>TallyFox Services and conditions
    TallyFox Social Technologies AG, Zurich, Switzerland, (TallyFox) is specialized in enabling Knowledge Networks for
    professional communities. TallyFox provides services that allow persons to register and share content on
    <a href="http://www.thewaternetwork.org">www.thewaternetwork.org</a> (TWN) and all subdomains hosted within TWN
    (Services).</p>

<p>Certain Services are currently free to all users. TallyFox and TWN reserve the right to charge for Services in the
    future (upon special notification and the possibility to join paid services). In addition, parts of the Services may
    be accessed only by users who joined certain paid products or features. Paid products are processed under a
    different
    contract between you and TallyFox or TWN and need your express agreement.

<p>TallyFox and TWN reserve the right to change the terms of this Agreement or to modify any features of its Services at
    any time. By continuing to use this Service after the posting of Notices regarding such changes, you agree to be
    bound
    by such changes. Changes from free to paid services need to be explicably accepted by both parties.
    Nothing on the Websites shall form any legally binding contract about products or services, unless explicitly
    noted.</p>

<p>Information and opinions presented in this Website have been obtained or derived from sources believed to be
    reliable,
    but neither TallyFox nor TWN make representation as to their accuracy or completeness. TallyFox and TWN maintain the
    right to delete or modify information on this Website without prior notice.</p>

<p>Activating links on this Website may cause you to leave this Website. Such links, addresses or hyperlinks are not
    reviewed by TallyFox or TWN. TallyFox and TWN do not accept any liability for their contents, the offered products
    or
    services or any other offers.</p>

<p>Using links from this Website to any website not owned by TallyFox or TWN is at your own risk. TallyFox and TWN are
    committed to respecting the privacy rights of its site visitors and to comply with the Swiss Data Protection Act
    dated
    June 19, 1992. Access to certain Services, such as e.g. registering, joining an expert panel discussion, may cause
    certain details of your identity to become publicly visible on the Website such as e.g. your name, profession,
    location
    or a photo you may have uploaded to the Website.</p>

<p>User responsibilities
    You agree not to submit any inappropriate content (including violations of intellectual property rights, racist,
    obscene
    or other illegal content, defaming or violating privacy of any person etc.).</p>

<p>You will be responsible for all charges incurred while your account is being used, if any, including charges for any
    goods or services. You are also responsible for all statements made or materials posted under your account,
    including
    liability for harm caused by such statements or materials. You may not transfer, sell, or otherwise assign your
    rights
    or obligations under this Agreement.</p>

<p>You agree to indemnify and hold harmless TallyFox, TWN and their parents and affiliates, from and against all losses,
    expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this Agreement or
    the
    failure to fulfill any obligations relating to your account incurred by you or any other person using your account.
    Liability</p>

<p>TALLYFOX AND THE WATER NETWORK HEREBY EXPRESSLY DISCLAIM, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW AND/OR
    REGULATION, ALL WARRANTIES, EXPRESS, STATUTORY OR IMPLIED, REGARDING THE SITE AND ANY RESULTS TO BE OBTAINED FROM
    THE
    USE OF THE SITE AND ITS CONTENTS.</p>

<p>Ownership, Copyrights and other intellectual property rights on this Website are registered items of TallyFox, The
    Water
    Network and/or its direct or indirect subsidiaries. All material available on the Site, except where otherwise
    explicitly noted or covered in terms of sale, is under copyright of TallyFox and The Water Network. TallyFox will
    enforce such rights to the full extent of applicable law. Downloading, copying or printing individual pages and/or
    parts
    of the Website is allowed for personal use only, and will not transfer title to any software or material on the
    Website
    to you. Explicit attribution to TallyFox and The Water Network must be made in the event that the material, or any
    part
    thereof, is reproduced in any form, written or electronic. Furthermore, any reproduction, re-publication or
    distribution
    of this material requires the express consent of TallyFox or The Water Network.</p>

<p>Applicable Law and place of jurisdiction This legal relationship is subject to Swiss law. The place of jurisdiction
    is
    the appropriate court in Zurich (Switzerland).</p>
</body>
</html>